[SERIAL]
; Set port to "demo" or the path (e.g., /dev/ttyUSB0).
port = demo

[TOTAL STATION]
make = Topcon
model = GTS-300 Series

[BACKSIGHT ERROR]
; Acceptable error range for backsight shots (expected horizontal distance vs. measured distance), in cm.
limit = 3
